body{
    font-family: 微软雅黑;
    /*background: url("../images/Konachan-329266-Large.png");*/
    background-size:100%;
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
}

.m-bg-class_cover {
    width: 100%;
    height: 50%;
    color: white;
    /*line-height: ;*/
    padding-left: 6px;
    /*color: #FFFFFF;*/
    /*font-size: 26px;*/
    position: absolute;
    left: 0px;
    bottom: 0px;
}


.m-bg{
    width: 100%;
    height: 650px;
    object-fit: cover;
}

.m-padded-mini{
        padding: 0.3em!important;
}
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny{
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb-tb{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large{
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padded-lr-responsive{
    padding-left: 4em!important;
    padding-right: 4em!important;
}
/*margin*/

.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em!important;
}

.m-margin-top-small{
    margin-top: 0.5em!important;
}
.m-margin-top{
    margin-top: 1em!important;
}

.m-margin-top-large{
    margin-top: 2em!important;
}

.m-margin-bottom-small{
    margin-bottom: 0.5em!important;
}


/*text*/

.m-text{
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    opacity: 0.8!important;
}

.m-text-thin{
    font-weight: 500 !important;
}

.m-text-spaced{
    letter-spacing: 1px !important;
}

.m-text-lined{
    line-height: 1.8;
}
.m-opacity-mini{
    opacity: 0.8!important;
}

.m-opacity-miniplus{
    opacity: 0.6!important;
}

/*-------display-------*/
.m-inline-block{
    display:inline-block!important;
}
.m-container{
    max-width: 72em!important;
    margin: auto !important;
}
.m-container-small{
    max-width: 60em!important;
    margin: auto !important;
}

/*shadow*/
.m-shadow-small{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/*color*/

.m-black{
    color: #333!important;
}
/*position*/
.m-right-top{
    position: absolute;
    top: 0;
    right: 0;
}


.m-fixed{
    position: fixed!important;
    z-index: 1!important;
}

.m-right-bottom{
    bottom: 0 !important;
    right: 0 !important;
}


.m-moblie-show{
    display: none!important;
}

@media screen and (max-width: 600px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-moblie-show{
        display: block!important;
    }
    .m-padded-lr-responsive{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .m-mobile-wide{
        width: 100%;
    }
    .m-mobile-lr-clear{
        padding-right: 0!important;
        padding-left: 0!important;
    }
}

.blog-title {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 0.75rem;
    font-weight: 300;
}

.blog-description {
    font-size: 1.1rem;
    font-weight: 400;
}