<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzc.blog.mapper.CommentMapper">

<!--    存入一条评论-->
    <insert id="saveComment" parameterType="Comment">
        insert into t_comment(nickname, email, content, avatar,create_time, blog_id, parent_comment_id,admincomment)
        values (#{nickname},#{email},#{content},#{avatar},#{createTime},#{blog.id},#{parentComment.id},#{adminComment})
    </insert>

    <select id="commentList" parameterType="long" resultType="Comment">
        select * from t_comment where blog_id = #{blogId}
    </select>


    <select id="commentParentList" parameterType="long"  resultType="Comment">
        select * from t_comment where parent_comment_id is null and blog_id=#{blogId};
    </select>

    <select id="commentChildList" resultType="Comment">
        select * from t_comment where parent_comment_id = #{parentId};
    </select>

    <insert id="saveUserComment" parameterType="Comment">
         insert into t_comment(nickname, email, content, avatar,create_time, blog_id, parent_comment_id,admincomment)
        values (#{nickname},#{email},#{content},#{avatar},#{createTime},#{blog.id},#{parentComment.id},#{adminComment})
    </insert>
</mapper>